doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Superb Grocery IS
  link(rel='stylesheet' type="text/css" href='stylesheets/style.css')
.main-nav
  ul.nav
    li.name Superb Grocery IS
    li
      a(href='index') Home
    li
      a(href='listing') Listing
    li
      a(href='entry') Add
    li
      a(href='update') Update
    li
      a(href='delete') Delete
header
  #container
    #images-right
      img#img1(src='./images/farmers-market.jpg' style='width:250px;height:300px;')
      img#img2(src='./images/groceries.jpg' style='width:250px;height:300px;')
      img#img3(src='./images/supermarket.jpg' style='width:250px;height:300px;')
    #images-left
      img#img4(src='./images/vegetables.jpg' style='width:250px;height:300px;')
      #information2
        h1#side-content(style='color: green') Why Choose Us
        p#side(style='width:250px;')
          | We are the leading innovators in inventory tracking available on the market. We have specialized
          | content and systems for dealing with the sales of inventory, but more specifically edible items.
          | Our vision is to have every large scale grocery store use our systems so that we can grow to create systems that are not
          | more robust, but useful as well. Please browse through are system and let us know if we are missing anything
          | that you would find helpful.
    #information()
      h1#heading1(style='color: green') Our Services
      p#introduction
        | Welcome, if you are reading this then you have found your way into the inventory system created by Kevin.
        | This inventory system is called Superb Grocery. With Superb Grocery as your inventory system customers, clients, and employees are allowed
        | to manually check the inventory. Through the use of this system, you will find information on the groceries that are currently available.
        | Employees with proper authorization are even allowed to create, update, or delete items in the inventory.
      p#introduction2
        | There is a small service fee of 5 dollars a month to use our service, but you will find that the amount of time saved in
        | organization, is well worth it. Important aspects of your business can now be fully automated through a great UI (User Interface)
        | so complicated features like your organization&apos;s data structuring can be accessed in a simple manner.
footer
  p#copy &copy; 2018 SuperbGroceryIS.com

