doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Superb Grocery IS
    link(rel='stylesheet' type="text/css" href='stylesheets/style.css')
    script(type='text/javascript')
header
    .main-nav
        ul.nav
            li.name Superb Grocery IS
            li
                a(href='index') Home
            li
                a(href='listing') Listing
            li
                a(href='entry') Add
            li
                a(href='update') Update
            li
                a(href='delete') Delete
    #wrapper
        h1(align='center' style='color:blueviolet') Product Listings
        if fetchedDocs.length
        table#data_table(align='center' cellspacing='2' cellpadding='5' border='3')
            thead
                tr
                    th ID
                    th Product
                    th Price
                    th Quantity
            tbody
                each item in fetchedDocs
                    tr#row1
                    td#id1(align='center') #{item.objID}
                    td#name1(align='center') #{item.productName}
                    td#price1(align='center') #{item.price}
                    td#quant1(align='center') #{item.quantity}
footer
    p#copy &copy; 2018 SuperbGroceryIS.com
